@media (min-width: 768px) {
    .custom-title h2{font-size:3.5rem;} /*1rem = 16px*/
}
@media (max-width: 768px) {
    .custom-title h2{font-size:2rem;} /*1rem = 16px*/
}
.custom-title{
    z-index: 1;color:rgba(255,255,255,1);background-color:rgba(0,0,0,0.5); text-align: center; margin-bottom: 10px;padding: 5px;
}
.custom-active{
    background-color: #e8eaf6;
}