<div ng-controller="DaftarPegawaiCtrl as $ctrl">
    <form>

        <div class="form-group">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Nama</label>
                <input ng-model="$ctrl.pegawai.nama">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Gelaran</label>
                <input ng-model="$ctrl.pegawai.gelaran">
            </md-input-container>
        </div>
        <div class="form-group">
            <!--<label for="unit">Unit</label>-->
            <!--<select class="form-control" id="unit"-->
                    <!--ng-options="option.nama_unit for option in $ctrl.lookup_unit track by option.id"-->
                    <!--ng-model="$ctrl.pegawai.unit"-->
            <!--&gt;-->
                <!--<option value="">-Sila Pilih-</option>-->
            <!--</select>-->
            <md-input-container class="md-block" flex-gt-sm>
                <label>Unit</label>
                <md-select ng-model="$ctrl.pegawai.unit">
                    <md-option ng-repeat="unit in $ctrl.lookup_unit" value="{{unit.id}}">
                        {{unit.nama_unit}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <br/>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.daftarPegawai()">Daftar</button>
    </form>
    <br/><br/>
    data JSON : {{$ctrl.pegawai | json}}

    <hr/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Senarai Pegawai</div>
        <div class="panel-body no-padding">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead class="bg-primary">
                <tr>
                    <th>Bil</th>
                    <th>Gelaran</th>
                    <th>Nama</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pegawai in $ctrl.pegawaiList track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{pegawai.gelaran}}</td>
                    <td>{{pegawai.nama}}</td>
                    <td>{{pegawai.unit}}</td>
                </tr>
                <tr ng-show="$ctrl.pagingInfoObj.totalRow===0">
                    <td colspan="9" align="center">-Tiada Rekod Ditemui-</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>    
</div>
