<div ng-controller="MaklumbalasSelesaiCtrl as $ctrl" >
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Senarai Pegawai</div>
    <div class="panel-body no-padding">
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead class="bg-primary">
                <tr>
                    <th>Bil</th>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Tarikh Maklumbalas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="senaraiSelesai in $ctrl.senaraiSelesai track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{senaraiSelesai.id}}</td>
                    <td>{{senaraiSelesai.peserta_nama}}</td>
                    <td>{{senaraiSelesai.maklumbalas_date}}</td>
                </tr>
                <tr ng-show="$ctrl.pagingInfoObj.totalRow===0">
                    <td colspan="9" align="center">-Tiada Rekod Ditemui-</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>