<div ng-controller="MaklumatPenggunaCtrl as $ctrl">
    <!--TODO : Step 7 : Validation-->
    <form name="AddPenggunaFrm">
        <div class="form-group"
             ng-class="{'has-error' : AddPenggunaFrm.IDpengguna.$invalid && AddPenggunaFrm.IDpengguna.$dirty}">
            <label>IDpengguna</label>
            <input type="text" class="form-control" name="IDpengguna" ng-model="$ctrl.pengguna.IDpengguna"
                   placeholder="IDpengguna" required>
            <div ng-if="AddPenggunaFrm.IDpengguna.$dirty" ng-messages="AddPenggunaFrm.IDpengguna.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : AddPenggunaFrm.nama.$invalid && AddPenggunaFrm.nama.$dirty}">
            <label>Nama</label>
            <input type="text" class="form-control" name="nama" ng-model="$ctrl.pengguna.nama" placeholder="nama"
                   required>
            <div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : AddPenggunaFrm.emel.$invalid && AddPenggunaFrm.emel.$dirty}">
            <label>Emel</label>
            <input type="email" class="form-control" name="emel" ng-model="$ctrl.pengguna.emel" placeholder="emel"
                   required>
            <div ng-if="AddPenggunaFrm.emel.$dirty" ng-messages="AddPenggunaFrm.emel.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="email">This field must be a valid email address.</div>
            </div>
        </div>

        <!--TODO : Step 6 : dropdown dependency-->
        <div class="form-group">
            <label>Skim</label>
            <select class="form-control" ng-model="$ctrl.pengguna.skim"
                    name="skim"
                    ng-change="$ctrl.bindGred()"
                    ng-options="option.perihal for option in $ctrl.senaraiSkim track by option.kod">
                <option value="">-Sila Pilih-</option>
            </select>
        </div>

        <div class="form-group">
            <label>Gred</label>
            <select class="form-control" ng-model="$ctrl.pengguna.gred"
                    name="gred"
                    ng-options="option.gred_perihal for option in $ctrl.senaraiGred track by option.gred_kod"
                    ng-disabled="$ctrl.senaraiGred.length === 0">
                    <option value="">-Sila Pilih-</option>
            </select>
        </div>

        <button type="button" ng-click="$ctrl.addPengguna()" ng-disabled="AddPenggunaFrm.$invalid"
                class="btn btn-default">Submit
        </button>
    </form>
    <hr/>

    <b>two (2) way data binding</b> -> dataJSON : {{$ctrl.pengguna|json}}

    <hr/>

    <!--TODO : Senarai Pengguna view-->
    <hr/>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Senarai Pengguna</div>
        <div class="panel-body no-padding">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead class="bg-primary">
                    <tr>
                        <th>Bil</th>
                        <th>Gelaran</th>
                        <th>Nama</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pengguna in $ctrl.senaraiPengguna track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{pengguna.nama}}</td>
                        <td>{{pengguna.emel}}</td>
                    </tr>
                    <tr ng-show="$ctrl.pagingInfoObj.totalRow===0">
                        <td colspan="9" align="center">-Tiada Rekod Ditemui-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
    <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
    <div class="modal-parent">
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>
