<p>This is the maklumat-pengguna-ikhmal view.</p>
<div ng-controller="MaklumatPenggunaIkhmalCtrl as $ctrl">
    <form>
        <div class="form-group">
            <label>IDpengguna</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.IDpengguna" placeholder="IDpengguna">
        </div>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.nama" placeholder="Nama">
        </div>
        <div class="form-group">
            <label>Emel</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.emel" placeholder="Emel">
        </div>
        <div class="form-group">
            <label>Skim</label>
            <select class="form-control" ng-model="$ctrl.pengguna.skim" name="skim" ng-change="$ctrl.bindGred()" ng-options="option.perihal for option in $ctrl.senaraiSkim track by option.kod">
       <option value="">-Sila Pilih-</option>
   </select>
        </div>

        <div class="form-group">
            <label>Gred</label>
            <select class="form-control" ng-model="$ctrl.pengguna.gred" name="gred" ng-options="option.gred_perihal for option in $ctrl.senaraiGred track by option.gred_kod">
           <option value="">-Sila Pilih-</option>
   </select>
        </div>


        <button ng-click="$ctrl.daftarPengguna()">Tambah Pengguna</button> ->dataJSON : {{$ctrl.pengguna|json}} {{$ctrl.pengguna.Emel}}

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead class="bg-primary">
                    <tr>
                        <th>Bil</th>
                        <th>Gelaran</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pengguna in $ctrl.senaraiPengguna track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{pengguna.nama}}</td>
                        <td>{{pengguna.emel}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </form>
</div>