<p>This is the maklumat-pengguna-ana view.</p>
<div ng-controller="MaklumatPenggunaAnaCtrl as $ctrl">

    <form>
        <div class="form-group">
            <label>IDpengguna</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.IDpengguna" placeholder="IDpengguna">
            <label>Nama</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.nama" placeholder="Nama">
            <label>Emel</label>
            <input type="text" class="form-control" ng-model="$ctrl.pengguna.emel" placeholder="Emel">
        </div>
       
        <button ng-click="$ctrl.addPengguna()"> Tambah Pengguna</button>
        {{$ctrl.pengguna | json}}
    </form>
    <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped table-condensed">
               <thead class="bg-primary">
               <tr>
                   <th>Bil</th>
                   <th>Gelaran</th>
                   <th>Nama</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="pengguna in $ctrl.senaraiPengguna track by $index">
                   <td>{{$index + 1}}</td>
                   <td>{{pengguna.nama}}</td>
                   <td>{{pengguna.emel}}</td>
               </tr>
               </tbody>
           </table>
       </div>



</div>

