<md-toolbar layout-padding>
    <div class="md-toolbar-tools">
        Welcome to angular material
    </div>
</md-toolbar>
<div layout="row">
    <textarea rows="5" cols="50" placeholder="textarea1"></textarea>
    <textarea rows="5" cols="50" placeholder="textarea1"></textarea>
</div>
<div layout="column">
    <textarea rows="5" cols="50" placeholder="textarea1"></textarea>
    <textarea rows="5" cols="50" placeholder="textarea1"></textarea>
</div>
<div layout="column">
    <h3>Form Ini</h3>
    <div layout="row">
        <strong flex="33">Nama</strong>
        <input flex="66" type="text" id="nama"/>
    </div>
</div>