
<div ng-controller="PerlepasanKontrakCtrl as $ctrl">
<fieldset>
    <legend>Maklumat peribadi:</legend>
    Nama: {{$ctrl.peribadi.peribadi_nama}}<br><br>
    No Kad pengenalan:{{$ctrl.peribadi.peribadi_nokp}}<br>
  </fieldset>
<br>
{{$ctrl.peribadi}}

<fieldset>
    <legend>Maklumat kontrak:</legend>
    Tarikh Lulus: <input type="text"><br><br>
    No Rujukan Surat: <input type="text"><br>
    Sebab penangguhan: <input type="text"><br>
    Catatan: <input type="text"><br>
  </fieldset>
</div>
