<<div ng-controller="PinjamanBukuCtrl as $ctrl">

    <h3>PINJAMAN BUKU</h3>
    </span>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Maklumat Peribadi</div>
        <div class="panel-body no-padding">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <div class="form-group">
                        <label>Nama :</label><label type="" name="nama"></label>

                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                    <div class="form-group">
                        <label>No Kad Pengenalan :</label><label type="" name="ic"></label>

                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Maklumat Buku</div>
        <div class="panel-body no-padding">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <div class="form-group">
                        <label>Tarikh Pinjam :</label>
                        <input type="text" class="form-control" name="tarikhpinjam" ng-model="$ctrl.pengguna.nama" placeholder="tarikhpinjam" required>
                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                    <div class="form-group">
                        <label>Tarikh Pulang :</label>
                        <input type="text" class="form-control" name="tarikhpulang" ng-model="$ctrl.pengguna.nama" placeholder="tarikhpulang" required>
                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                    <div class="form-group">
            <label>Pilihan Buku</label>
            <select class="form-control" ng-model="$ctrl.pengguna.gred"
                    name="buku"
                    ng-options="option.gred_perihal for option in $ctrl.senaraiGred track by option.gred_kod"
                    ng-disabled="$ctrl.senaraiGred.length === 0">
                    <option value="">-Sila Pilih Buku-</option>
            </select>
        </div>
        <div class="form-group">
                        <label>Bilangan :</label>
                        <input type="text" class="form-control" name="bilangan" ng-model="$ctrl.pengguna.nama" placeholder="bilangan" required>
                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                    <div class="form-group">
                        <label>Catatan :</label>
                        <input type="text" class="form-control" name="catatan" ng-model="$ctrl.pengguna.nama" placeholder="catatan" required>
                        <!--<div ng-if="AddPenggunaFrm.nama.$dirty" ng-messages="AddPenggunaFrm.nama.$error" class="text-danger">
                <div ng-message="required">Please enter a value for this field.</div>
            </div>-->
                    </div>
                    <button type="button" ng-click="$ctrl.addPengguna()" ng-disabled="AddPenggunaFrm.$invalid"
                class="btn btn-default">Submit
        </button>
                </table>
            </div>
        </div>
    </div>
</div>