<div ng-controller="TempahanBilikCtrl as $ctrl">

    <form>
        <p>
            <h1>Maklumat Peribadi</h1>
        </p>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" ng-model="$ctrl.tetamu.peribadi_nama" placeholder="peribadi_nama">

            <label>No Kad Pengenalan</label>
            <input type="text" class="form-control" ng-model="$ctrl.tetamu.peribadi_nokp" placeholder="peribadi_nokp">

        </div>


    </form>

    <form>
        <p>
            <h1>Maklumat Bilik</h1>
        </p>
        <div class="form-group">
            <label>Tarikh Tempahan</label>
            <input type="text" class="form-control" ng-model="$ctrl.bilik.tkh_tempah" placeholder="tkh_tempah">

            <label>Tarikh Pulang</label>
            <input type="text" class="form-control" ng-model="$ctrl.bilik.tkh_pulang" placeholder="tkh_pulang">

            <div class="form-group">
                <label>Pilihan Bilik</label>
                <select class="form-control" ng-model="$ctrl.pilihanbilik" name="Bilik" ng-change="$ctrl.pilihanbilik()" ng-options="option.perihal for option in $ctrl.senaraiBilik track by option.kod">
                <option value="">-Sila Pilih-</option>
            </select>
            </div>

            <label>Bil Peserta</label>
            <input type="text" class="form-control" ng-model="$ctrl.bilik.bil_peserta" placeholder="bil_peserta">

            <label>Kegunaan</label>
            <input type="text" class="form-control" ng-model="$ctrl.bilik.kegunaan" placeholder="kegunaan">

        </div>
        <button type="button" ng-click="$ctrl.addTempahan()" ng-disabled="AddTempahanFrm.$invalid" class="btn btn-default">Submit
        </button>

    </form>