<div ng-controller="TestLocalstorageCtrl as ctrl">
    <div>
        nama:<input type="text" ng-model="ctrl.pengguna.nama">
    </div>
    <div>
        emel:<input type="text" ng-model="ctrl.pengguna.emel">
    </div>
    <div>
        <button ng-click="ctrl.addPengguna()">Tambah Pengguna Baru</button>
        <button ng-click="ctrl.clearAllPengguna()">Hapus Pengguna</button>
    </div>
    {{ctrl.pengguna|json}}

    <div ng-if="ctrl.senaraiPengguna.length!==0">
        <div>Senarai Pengguna</div>
        <ul>
            <li ng-repeat="pengguna in ctrl.senaraiPengguna track by $index">{{pengguna.nama}}, {{pengguna.emel}}</li>
        </ul>
    </div>
</div>